# Ignore all files by default
/*

# ONLY commit source and important files
!main.tex
!References.bib
!main.pdf
!Figures/

# Keep config and metadata
!.gitignore
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Keep documentation
# !README.md
# !*.md
